.highlight.css .tag{color:blue;}
.highlight.css .attribute{color:black;}
.highlight.css .comment{color:darkgreen;}
.highlight.css .class{color:red;}
.highlight.css .style{color:darkblue;}
.highlight.css .value{color:green;}
