.highlight.css .value{color:teal;}
.highlight.css .style{color:#0F0;}
.highlight.css .class{color:red;}
.highlight.css .pseudo{color:purple;}
.highlight.css .string{color:olive;}
.highlight.css .attribute{color:green;}
.highlight.css .tag{color:#00F;}
.highlight.css .comment{color:gray;}
.highlight.css .at-rule{color:#FF0;}
